@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Default Light Mode Variables */
  --background-color: #ffffff;
  --text-color: #333333;
  --header-background-color: #f8f9fa;
  --nav-link-color: #492118;
  --nav-link-hover-color: #ff6347;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

/* Dark Mode Variables */
body.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --header-background-color: #333333;
  --nav-link-color: #ff6347;
  --nav-link-hover-color: #ff4500;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-bottom: 5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background-color: var(--header-background-color);
  transition: background-color 0.3s ease;
}

.logo {
  width: 50px;
}

.logo img {
  width: 100%;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

nav .nav_menu {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.nav_list {
  list-style: none;
}

.nav_link {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--nav-link-color);
  transition: color 0.3s ease;
}

.nav_link:hover {
  color: var(--nav-link-hover-color);
}

#cover_img {
  width: 98%;
  margin: 0 auto;
}

.section {
  margin-top: 20px;
  max-width: 100%;
  padding: 0 5%;
}

.img_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
}

.img_container img {
  max-width: 100%;
  height: auto;
}

.section p,
.section h2 {
  color: var(--text-color);
  text-align: center;
  margin-top: 6rem;
}

.theme-toggle {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  margin-left: auto;
  transition: color 0.3s;
}

.theme-toggle:hover {
  color: var(--nav-link-hover-color); 
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  transition: opacity 0.3s;
  z-index: 100;
}

.go-to-top:hover {
  background-color: #ff4500;
}
/* footer  */
footer {
  margin-bottom: 2rem;
}

footer p {
  text-align: center;
}

/* pupup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  display: none;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.popup.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Dark mode styles */
.popup.dark-mode {
  background-color: #333;
  color: #fff;
}
#email {
  width: 100%;
  outline: none;
  border: 1px solid;
  padding: 3px;
  border-radius: 9px;
}
.subscribe-btn {
  cursor: pointer;
  background-color: #ff4500;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  margin-top: 4px;
  font-size: bolder;
}

.newsletter-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 4rem;
  background-color: #ff4500;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.close-popup {
  position: relative;
  left: 0px;
  font-size: 20px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .close {
    display: none;
  }
  header {
    position: relative;
    z-index: 1000;
  }

  .nav_menu {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px;
    background-color: var(--header-background-color);
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 0;
    overflow: hidden;
    border-radius: 0px 0px  10px 10px ;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .section {
    margin-top: 20px;
    max-width: 100%;
    padding: 0 5%;
    z-index: 1;
    position: relative;
  }

  .nav_menu.active {
    height: auto;
    transform: scaleY(1);
  }

  .nav_list {
    width: 100%;
    text-align: left;
  }
  .popup-content h2{
font-size:15px;
margin-bottom: 4px;
  }
  nav{
    position: relative;
  }
  .theme-toggle{
    position: absolute;
    top: 5px;
    right:5px;
  }
}
