*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background: whitesmoke ;
    padding: 1.2rem;
    border-radius: 1rem;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
}
.display{
    margin-top: 1rem;
}
#PasswordInput{
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 1rem;
}
#Copy{
    background-color: orange;
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: none;
    color: #fff;
    cursor: pointer;

}
.setting{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    font-weight: bold;
}
#Generator{
    width: 95%;
    align-items: center;
    background-color: orangered;
    color: #fff;
    font-weight: bold;
    border-radius: 2rem;
    padding: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 3px;
    right: 0;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}